
.demos-header{
  padding: 0 30px;
  /*background-color: #ffeedd;*/
}

.demos-title{
  text-align: center;
  color: #3cc51f;
  margin: 0 15%;
  font-weight: 400;
}

.weui-grids{
  position: relative;
  overflow: hidden;
}

.weui-grids::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  color: #D9D9D9;
  /*height: 1px;*/
  border-top: 1px solid #D9D9D9;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

.weui-grids::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  /*width: 1px;*/
  border-left: 1px solid #D9D9D9;
  color: #D9D9D9;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}

.weui-grid {
  position: relative;
  float: left;
  padding: 20px 10px;
  width: 33.33333333%;
  /*width: 25%;*/
  box-sizing: border-box;
}

.weui-grid:before {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  bottom: 0;
  border-right: 1px solid #D9D9D9;
  color: #D9D9D9;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
}

.weui-grid:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #D9D9D9;
  color: #D9D9D9;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
}
